<h1>ログイン</h1>

<div>
  <div>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <p>次回から自動でログイン</p>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>新規登録の方は <%= link_to "こちら", signup_path %></p>
    <%= link_to 'ゲストログイン（閲覧用）', guest_path %>
  </div>
</div>
