<div class="text-center">
  <p class="far fa-comment mb-5">コメント一覧</p>
</div>
<div class="mb-5">
  <% @comments.each do |comment| %>
    <div class="flex justify-between mb-3" id="comment-<%= comment.id %>">
      <div class="flex text-xs">
        <%= link_to comment.user do %>
          <% if comment.user.avatar? %>
            <%= image_tag comment.user.avatar.url(:small), id: 'preview', class: 'small-icon'%>
          <% else %>
            <%= image_tag asset_path('default.png'), id: 'preview', alt: 'ユーザーアイコン', class: 'small-icon' %>
          <% end %>
          <p><%= comment.user.name %></p>
          <p><%= comment.user.job %></p>
        <% end %>
      </div>
      <div class="inline-block w-2/3 text-xs md:text-sm text-right">
        <%= comment.comment %>
        <% if logged_in? && comment.user == current_user %>
          <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true, data: { confirm: '削除してよろしいですか？' }, class: "inline-block text-xs"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
