<div class="text-center">
  <p class="far fa-comment mb-5">コメント一覧</p>
</div>
<div class="mb-5">
  <% @comments.each do |comment| %>
    <div class="flex justify-between" id="comment-<%= comment.id %>">
      <div>
        <%= link_to comment.user do %>
          <%= image_tag comment.user.avatar.url(:small), id: 'preview', class: 'small-icon'%>
          <%= comment.user.name %>
        <% end %>
      </div>
      <div class="inline-block text-right">
        <%= comment.comment %>
        <% if logged_in? && comment.user == current_user %>
          <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true, data: { confirm: '削除してよろしいですか？' }, class: "block text-xs"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
