<div class='mx-auto py-2 my-2 border-b'>
  <div>
    <% if notification.visitor.avatar? %>
    <%= link_to user_path(notification.visitor) do %>
      <%= image_tag notification.visitor.avatar.url(:small), class: 'medium-icon' %><%= notification_form(notification) %>
    <% end %>
    <% else %>
    <%= link_to user_path(notification.visitor) do %>
    <%= image_tag '/assets/default.png', class: 'medium-icon' %>
    <%= notification_form(notification) %>
    <% end %>
    <% end %>
    <span class='text-xs'><%= "(#{time_ago_in_words(notification.created_at)}å‰)" %>
  </div>
    <% if !@comment.nil? %>
      <p class='text-xs text-center text-gray-500'><%= @comment %></p>
    <% end %>
</div>
