<ul class="w-full px-6">
  <li class="flex my-auto py-2 border-b">
    <%= link_to user do %>
      <% if user.avatar? %>
        <div class="p-2">
          <%= image_tag user.avatar.url(:small), class: "medium-icon" %>
        </div>
      <% else %>
        <div class="p-2">
          <%= image_tag asset_path("default.png"), class: "medium-icon" %>
        </div>
      <% end %>
    <% end %>
    <div class="my-auto mx-4 text-sm md:text-base">
      <p><%= link_to user.name, user %><p>
      <p><%= user.profile %></p>
    </div>
    <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "退会", user, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "small-btn text-xs" %>
    <% end %>
  </li>
</ul>
