<ul class='w-full px-6'>
  <li class='flex my-auto py-2 text-xs sm:text-base border-b'>
    <% if user.avatar? %>
      <%= link_to user do %>
      <div class="p-2">
        <%= image_tag user.avatar.url(:small), class: 'inline-block w-16 h-16 rounded-full shadow-md' %>
      </div>
      <% end %>
    <% else %>
      <%= link_to user do %>
      <div class="p-2">
        <%= image_tag '/assets/default.png', class: 'inline-block w-16 h-16 rounded-full shadow-md' %>
      </div>
      <% end %>
    <% end %>
    <div class="my-auto mx-4 text-base"><%= link_to user.name, user %><p><%= user.profile %></p></div>
    <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </li>
</ul>
