<div class="flex items-center mt-40">
  <div class="container mx-auto">
    <div class="max-w-md mx-auto">
      <h1 class="title text-3xl">新規登録</h1>
        <div class="m-7">
            <%= form_with(model: @user, local: true) do |f| %>
            <%= render "shared/error_messages", object: f.object %>
          <div class="mb-6">
            <%= f.label :名前, class: "form-title" %>
            <%= f.text_field :name, class: "form focus:outline-none focus:shadow-outline" %>
          </div>
          <div class="mb-6">
            <%= f.label :職種, class: "form-title" %>
            <%= f.select :job, [['営業','営業'],['販売、フード、レジャー','販売、フード、レジャー'],['医療、福祉','医療、福祉'],['企画、経営','企画、経営'],['ITエンジニア','ITエンジニア'],['研究職','研究職'],['金融、不動産専門','金融、不動産専門'],['クリエイティブ','クリエイティブ'],['公務員','公務員'],['管理、事務','管理、事務'],['美容、ブライダル','美容、ブライダル'],['交通','交通'],['保育、教育','保育、教育'],['その他','その他']], {}, class: "form focus:outline-none focus:shadow-outline" %>
          </div>
          <div class="mb-6">
            <%= f.label :メールアドレス, class: "form-title" %>
            <%= f.email_field :email, class: "form focus:outline-none focus:shadow-outline" %>
          </div>
          <div class="mb-6">
              <%= f.label :パスワード, class: "form-title" %>
              <%= f.password_field :password, class: "form focus:outline-none focus:shadow-outline" %>
          </div>
          <div class="mb-6">
              <%= f.label :パスワード再入力, class: "form-title" %>
              <%= f.password_field :password_confirmation, class: "form focus:outline-none focus:shadow-outline" %>
          </div>
          <div class="mb-6 text-center">
              <%= f.submit "登録する", class: "up-btn focus:bg-gray-400 focus:outline-none" %>
          </div>
          <p class="text-sm text-center text-gray-600">すでにアカウントをお持ちの方は<%= link_to "こちら", login_path, class: "font-bold text-blue-800 focus:text-gray-500" %></p>
          <% end %>
        </div>
    </div>
  </div>
</div>
