<%= render "shared/header"%>
<div class="container mx-auto">
  <div class="flex flex-col mx-auto w-full bg-white py-4 text-gray-600 rounded shadow-2xl">
    <div class="title">
      <%= link_to @user do %>
        <%= @user.name %>
      <% end %>
    </div>
    <%= render "shared/status" %>
    <% if @users.any? %>
      <%= render @users %>
    <% end %>
  </div>
</div>
