<%= render 'shared/header'%>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <span><%= link_to "プロフィールを見る", @user %></span>
      <span><b>投稿数</b> <%= @user.posts.count %></span>
    </section>
    <section class="status">
      <%= render 'shared/status' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
    <% end %>
  </div>
</div>
