<%= render 'shared/header' %>
<div class="container flex flex-col mx-auto px-5 py-4 items-center text-gray-600 ">
  <div class="rounded bg-white text-xs p-2 shadow-md">
    <div class='flex flex-wrap grid grid-cols-2 gap-5 p-4 text-center'>
      <div class="my-auto">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url(:small), class: 'large-icon' %>
        <% end %>
        <p class="text-xl my-2"><%= @user.name%></p>
      </div>
      <div class='flex my-auto mx-auto'>
        <div>
            <%= render 'shared/status' %>
            <p class='my-2 text-sm break-all'><%= @user.profile %></p>
            <%= render 'relationships/follow' %>
          <% if logged_in? && @user == current_user %>
            <%= link_to edit_user_path do %>
              <p class='inline-block rounded-full bg-blue-900 text-white p-1 sm:p-2 my-2 transition duration-200 ease-in-out bg-blue-900 hover:bg-gray-500'>編集する</p>
            <% end %>
          <% end %>
            <% if @user.id == current_user.id %>
              <%= @msg %>
            <% else %>
              <% if @isRoom == true %>
                <%= link_to 'DMへ', room_path(@roomId), class:"inline-block my-2 p-2 bg-blue-900 rounded-full text-white text-xs" %>
              <% else %>
                <%= form_with(model: @room, local: true) do |f| %>
                  <%= fields_for @entry do |e|%>
                    <% e.hidden_field :user_id, value: @user.id %>
                  <% end %>
                  <%= f.submit "DMを開始する",  class:"inline-block my-2 p-2 bg-blue-900 rounded-full text-white text-xs" %>
                <% end %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <!--タブ-->
    <ul class="tab-group">
      <li class="tab is-active rounded">投稿一覧</li>
      <li class="tab rounded">いいねした記事</li>
    </ul>
    <!--タブを切り替えて表示するコンテンツ-->
    <div class="panel-group">
      <div class="panel is-show">
        <div class='text-center w-full my-10'>
          <% if @user.posts.any? %>
            <div class="grid grid-cols-3 gap-5 justify-items-center flex-grow mx-20 box-border">
              <%= render @posts %>
            </div>
          <% else %>
            <p class="text-center">投稿はありません</p>
          <% end %>
        </div>
      </div>
      <div class="panel">
        <% if @like_list.present? %>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-7 text-gray-600 bg-white p-6 rounded">
          <% @like_list.each do |post| %>
            <div class='overflow-hidden rounded-lg shadow-lg bg-white'>
              <%= link_to post do %>
                <%= image_tag post.image.url(:small), class: 'block h-auto w-full' %>
                <div class="flex justify-between items-center p-2 leading-tight">
                  <p class='inline-block text-base'><%= post.title.truncate(10) %></p>
                  <p class='text-xs'><%= time_ago_in_words(post.created_at) %>前</p>
                </div>
                <div class="flex justify-between items-center p-2 leading-tight text-xs">
                  <% if post.user.avatar? %>
                    <%= image_tag post.user.avatar.url, id: 'preview', class: 'small-icon' %>
                  <% else %>
                    <%= image_tag '/assets/default.png', id: 'preview', alt: 'ユーザーアイコン', class: 'small-icon' %>
                  <% end %>
                  <p><%= post.user.name %></p>
                  <p>職種:<%= post.user.job %></p>
                    <%= render partial: 'likes/like', locals: { post: post } %>
                </div>
                <div class="p-2">
                  <% post.tags.each do |tag|%>
                    <%= link_to "##{tag.tag_name}", tag_posts_path(tag), class: "text-xs inline-block bg-gray-400 text-white rounded-full p-1" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    const tabs = document.getElementsByClassName('tab');
    for(let i = 0; i < tabs.length; i++) {
      tabs[i].addEventListener('click', tabSwitch);
    }
    function tabSwitch(){
      document.getElementsByClassName('is-active')[0].classList.remove('is-active');
      this.classList.add('is-active');
      document.getElementsByClassName('is-show')[0].classList.remove('is-show');
      const arrayTabs = Array.prototype.slice.call(tabs);
      const index = arrayTabs.indexOf(this);
      document.getElementsByClassName('panel')[index].classList.add('is-show');
    };
  });
</script>
