
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Remoshare", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "投稿一覧", root_path %></li>
        <li><%= link_to "通知",   '#' %></li>
        <li><%= link_to "ユーザー一覧", '#' %></li>
        <li><%= link_to "チャットで相談", '#' %></li>
        <li><%= link_to "設定", '#' %></li>
        <li><%= link_to "ログイン", '#' %></li>
        <li><%= link_to "ログアウト", '#' %></li>
        <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
      </ul>
    </nav>
  </div>
</header>
