<header class="fixed top-0 left-0 bg-white w-full flex justify-between md:p-2">
  <%= link_to "Remoshare", root_url, alt: "リモシェアロゴ", class: "logo"%>
  <div class="pc-menu hidden md:block">
      <ul class='text-blue-800 list-none py-2 items-center text-xs flex'>
        <li>
        <%= link_to root_url do %>
          <i class="fas fa-home header hover:text-gray-500">ホーム</i>
        <% end %>
      </li>
      <li>
        <%= link_to search_path do %>
          <i class="fas fa-shopping-cart header hover:text-gray-500">商品検索</i>
        <% end %>
      </li>
      <% if logged_in? %>
      <li>
        <%= link_to users_path do %>
          <i class="fas fa-users header hover:text-gray-500">ユーザー一覧</i>
        <% end %>
      </li>
      <li>
        <%= link_to timeline_path do %>
          <i class="fa fa-clock header hover:text-gray-500">タイムライン</i>
        <% end %>
      </li>
      <li>
        <%= link_to notifications_path do %>
          <%= render "notifications/alert" %>
          <i class="far fa-bell header relative hover:text-gray-500">通知</i>
        <% end %>
      </li>
      <li>
        <%= link_to current_user do %>
          <i class="fas fa-user header hover:text-gray-500">プロフィール</i>
        <% end %>
      </li>
      <li>
        <%= link_to logout_path, method: :delete do %>
          <i class="fas fa-sign-out-alt header hover:text-gray-500">ログアウト</i>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to login_path do %>
          <i class="fas fa-sign-in-alt header hover:text-gray-500">ログイン</i>
        <% end %>
      </li>
      <% end %>
      </ul>
  </div>

  <div class="sp-menu md:hidden">
    <span class="fas fa-bars text-blue-800 mr-6" id="open"></span>
  </div>
</header>

<div class="overlay rounded-md">
  <span class="fas fa-times text-blue-800" id="close"></span>
    <ul class='text-blue-800 list-none py-2 items-center text-sm'>
      <li>
      <%= link_to root_url do %>
        <i class="fas fa-home header mb-4 hover:text-gray-500">ホーム</i>
      <% end %>
    </li>
    <li>
      <%= link_to search_path do %>
        <i class="fas fa-shopping-cart header mb-4 hover:text-gray-500">商品検索</i>
      <% end %>
    </li>
    <% if logged_in? %>
    <li>
      <%= link_to new_post_path do %>
        <i class="far fa-edit header mb-4 hover:text-gray-500">記事投稿</i>
      <% end %>
    </li>
    <li>
      <%= link_to users_path do %>
        <i class="fas fa-users header mb-4 hover:text-gray-500">ユーザー一覧</i>
      <% end %>
    </li>
    <li>
      <%= link_to timeline_path do %>
        <i class="far fa-clock header mb-4 hover:text-gray-500">タイムライン</i>
      <% end %>
    </li>
    <li>
      <%= link_to notifications_path do %>
        <%= render "notifications/alert" %>
        <i class="far fa-bell header mb-4 hover:text-gray-500">通知</i>
      <% end %>
    </li>
    <li>
      <%= link_to current_user do %>
        <i class="fas fa-user header mb-4 hover:text-gray-500">プロフィール</i>
      <% end %>
    </li>
    <li>
      <%= link_to logout_path, method: :delete do %>
        <i class="fas fa-sign-out-alt header hover:text-gray-500">ログアウト</i>
      <% end %>
    </li>
    <% else %>
    <li>
      <%= link_to login_path do %>
        <i class="fas fa-sign-in-alt header hover:text-gray-500">ログイン</i>
      <% end %>
    </li>
    <% end %>
    </ul>
</div>
