<header class="flex">
  <div class="logo">
    <h1>Remoshare</h1>
  </div>

  <div class="sp-menu ml-auto">
    <i class="fas fa-bars cursor-pointer" id="open"></i>
</header>

  <div class="overlay text-right p-20">
    <i class="fas fa-times absolute p-5 top-0 right-0 cursor-pointer" id="close"></i>
    <nav>
      <ul class='text-blue-800 list-none py-2 items-center text-xs'>
        <li>
        <%= link_to root_url do %>
          <i class="far fa-newspaper header hover:text-gray-500">記事一覧</i>
        <% end %>
      </li>
      <li>
        <%= link_to users_path do %>
          <i class="fas fa-users header hover:text-gray-500">ユーザー一覧</i>
        <% end %>
      </li>
      <% if logged_in? %>
      <li>
        <%= link_to search_path do %>
          <i class="fas fa-shopping-cart header hover:text-gray-500">商品検索</i>
        <% end %>
      </li>
      <li>
        <%= link_to notifications_path do %>
          <i class="far fa-bell header hover:text-gray-500">通知</i>
        <% end %>
      </li>
      <li>
        <%= link_to current_user do %>
          <i class="fas fa-user header hover:text-gray-500">プロフィール</i>
        <% end %>
      </li>
      <li>
        <%= link_to logout_path, method: :delete do %>
          <i class="fas fa-sign-out-alt header hover:text-gray-500">ログアウト</i>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to login_path do %>
          <i class="fas fa-sign-in-alt header hover:text-gray-500">ログイン</i>
        <% end %>
      </li>
      <% end %>
      </ul>
    </nav>
  </div>

<script>
  const open = document.getElementById('open');
  const overlay = document.querySelector('.overlay');
  const close = document.getElementById('close');

  open.addEventListener('click', () => {
    overlay.classList.add('show');
    open.classList.add('hide');
  });

  close.addEventListener('click', () => {
    overlay.classList.remove('show');
    open.classList.remove('hide');
  });
</script>
