
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Remoshare", root_url, id: "logo" %>
    <nav>
      <ul>
          <li><%= link_to "投稿一覧", root_path %></li>
          <li><%= link_to "チャットで相談", '#' %></li>

        <% if logged_in? %>
          <li><%= link_to "投稿", new_post_path %></li>
          <li><%= link_to "ユーザー一覧", users_path %></li>
          <li><%= link_to "通知", '#' %></li>
          <li><%= link_to "プロフィール", current_user %></li>
          <li><%= link_to "設定", edit_user_path(current_user) %></li>
          <li><%= button_to "ログアウト", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
