<%= render 'shared/header' %>
<div class='container mx-auto'>
  <div class='base flex flex-col sm:text-base hover:shadow-2xl transition duration-500 ease-in-out'>
    <h1 class="title">アイテムを探してみよう！</h1>
    <div class='text-center mb-3'>
      <%= form_with url: search_path, method: :get do |f| %>
        <div class="flex mx-3 border border-gray-300 rounded-full p-1 focus:outline-none focus:ring">
        <%= f.text_field :keyword, placeholder: "何をお探しですか？？", class: "w-full inline-block mx-2 focus:outline-none" %>
        <%= f.submit '検索', class: "small-btn cursor-pointer focus:outline-none transition duration-200 ease-in-out hover:bg-gray-500" %>
        </div>
      <% end %>
    </div>
    <% if @goods.present? %>
      <% @goods.first(20).each do |item| %>
          <div class="rakuten-form sm:flex">
            <img src="<%= item['mediumImageUrls'][0] %>" class="rounded mx-auto my-auto block rounded-md">
            <div class="sm:my-auto sm:p-4">
              <a href="<%= item['itemUrl'] %>", class="block mt-3"><%= item['itemName'].truncate(80) %></a>
              <p class="rakuten-detail"><%= item['itemPrice'] %>円</p>
              <p class="rakuten-detail">楽天レビュー平均：<%= item['reviewAverage'] %>点</p>
            </div>
          </div>
      <% end %>
    <% else %>
      <p class="text-center">該当商品はありません</p>
    <% end %>
  </div>
</div>
