<div class='overflow-hidden rounded-lg shadow-lg bg-white mx-auto w-2/3 sm:w-full'>
  <%= link_to post do %>
    <%= image_tag post.image.url(:small), class: 'block h-auto w-full' %>
    <div class="flex justify-between items-center p-2 leading-tight">
      <p class='inline-block text-base'><%= post.title.truncate(10) %></p>
      <p class='text-xs'><%= time_ago_in_words(post.created_at) %>前</p>
    </div>
    <div class="flex justify-between items-center p-2 leading-tight text-xs">
      <% if post.user.avatar? %>
        <%= image_tag post.user.avatar.url, id: 'preview', class: 'small-icon' %>
      <% else %>
        <%= image_tag asset_path('default.png'), id: 'preview', alt: 'ユーザーアイコン', class: 'small-icon' %>
      <% end %>
      <p><%= post.user.name %></p>
      <p>職種:<%= post.user.job %></p>
      <div id="likes_buttons_<%= post.id %>">
        <%= render partial: 'likes/like', locals: { post: post } %>
      </div>
    </div>
      <div class="p-2">
        <% post.tags.each do |tag|%>
          <%= link_to "##{tag.tag_name}", tag_posts_path(tag), class: "small-tag transition duration-200 ease-in-out hover:bg-blue-800 focus:outline-none" %>
        <% end %>
      </div>
  <% end %>
  <% if logged_in? && post.user == current_user %>
    <div class="text-right mx-2 text-xs">
      <%= link_to "", edit_post_path(post), class: "far fa-edit mb-2" %>
      <%= link_to "", post_path(post), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "fas fa-trash mb-2" %>
    </div>
  <% end %>
</div>
