<%= render 'shared/header' %>

<div>プロフィール編集</div>
  <p>現在ログイン中のユーザー：<%= current_user.name %></p>

<%= form_with(model: @post, local: true) do |f| %>

<%= render 'shared/error_messages', object: f.object %>

  <div>
    <%= f.label :中身 %><br>
    <%= f.text_field :content, autofocus: true, :placeholder =>"#{@post.content}" %>
  </div>

  <label>
      <%= f.file_field :image, class: 'hidden', onchange: 'previewImage(preview)', alt: '投稿画像' %>
      <a><%= image_tag @post.image.url, id: 'preview', class: 'inline-block w-1/4 h-64 object-contain rounded transition duration-200 ease-in-out cursor-pointer hover:opacity-70' %></a>
  </label>

  <div><%= f.submit "更新する" %></div>
<% end %>

<script>
function previewImage(id) {
  const target = this.event.target;
  const file = target.files[0];
  const reader = new FileReader();
  reader.onloadend = function() {
    preview.src = reader.result;
  };
  if (file) {
    reader.readAsDataURL(file);
  } else {
    reader.readAsDataURL(file);
  }
}
</script>
