<%= render 'shared/header' %>

  <section class="font-sans flex flex-col lg:flex-row">
    <div class="w-full lg:w-1/2"><img src="assets/mainphoto.jpg" alt="椅子の写真" width="700" heigth="300" class="rounded-lg"></div>
    <div class="w-full lg:w-1/2 flex flex-col items-center justify-center text-center p-8 text-blue-900">
      <h1 class="my-4 font-normal">暮らすように、働こう</h1>
      <p class="leading-normal mb-4 w-2/3">リモートワークをもっとわがままに、もっと快適に、もっと効率よく</p>
    </div>
  </section>

  <h1 class = 'text-center font-bold text-2xl text-blue-900 mt-7'>---show posts---</h1>
  <%= link_to new_post_path do %>
    <i class="far fa-edit text-3xl fixed right-14 bottom-14 text-white rounded-full transition duration-200 ease-in-out bg-blue-900 hover:bg-blue-700 py-6 px-6 "></i>
  <% end %>

    <div class="grid grid-cols-4 gap-x-5 gap-y-5 justify-items-center flex-grow mx-20 my-3 box-border">
      <% @posts.each do |post| %>
        <div class='my-5'>
          <%= link_to post do %>
            <div class=' bg-white py-4 px-5 rounded-lg shadow-xl'>
              <div class='pb-2 text-gray-600 text-sm'>
                <span class='text-left'><%= post.user.name%></span><span class='inline-block text-right'><%= post.created_at%></span>
              </div>
              <%= image_tag post.image.url(:small), class: 'rounded-lg mx-auto'%>
              <p class= 'my-2'><%= post.content%></p>
              <%# <%= link_to '続きを見る', post, class: 'text-right text-gray-700 text-sm' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
