<%= render 'shared/header' %>

<div class='container mx-auto'>
  <div class='flex flex-col mx-auto text-xs sm:text-base text-gray-600'>
    <section class="text-center bg-white rounded shadow-md">
      <h1 class="text-base sm:text-3xl text-blue-800 font-bold pt-5">Let's Comfortable Remote Work！</h1>
      <div class="flex grid sm:grid-cols-2 grid-cols-1">
        <%= image_tag '/assets/manager.png', class: "mx-auto" %>
        <div class="my-auto w-full">
          <p class="text-base font-bold">リモートワークの悩みを解消しよう！</p>
          <%= form_tag(posts_path, method: :get) do %>
            <div class='flex mx-3 my-2 border border-gray-300 rounded-full p-1 focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-200'>
              <%= text_field_tag :search, "", placeholder: "search....", class: 'w-full inline-block mx-2 focus:outline-none' %>
              <%= submit_tag "検索", name: :nil, class:"small-btn cursor-pointer focus:outline-none　transition duration-200 ease-in-out hover:bg-gray-500" %>
            </div>
          <% end %>
          <div class="p-4 rounded w-full">
            <p class="font-bold mb-3">人気のタグ一覧</p>
            <% @tag_list.each do |list| %>
              <%= link_to "##{list.tag_name}", tag_posts_path(tag_id: list.id), class: 'medium-tag' %>
              <%= "(#{list.posts.count})" %>
            <% end %>
          </div>
        </div>
      </div>
    </section>

    <div class="flex grid grid-col-1 lg:grid-cols-2 gap-5 my-5">
      <section class="w-full bg-white rounded p-4 shadow-md">
        <p class="text-center mb-5">ユーザーデータ</p>
        <div class="flex grid grid-cols-1 sm:grid-cols-2 text-center gap-3">
          <div class="mx-auto">職種一覧<%= pie_chart User.group(:job).order('count_all DESC').count %></div>
          <div class="mx-auto">改善されたこと<%= pie_chart Post.group(:issue).order('count_all DESC').count %></div>
        </div>
        <p class="text-center mt-3">共通の悩みから繋がってみよう</p>
      </section>
      <section class="bg-white rounded p-4 shadow-md">
        <p class="text-base text-center">いいねが多い記事</p>
        <div class="grid grid-cols-1 sm:grid-cols-3 mx-auto sm:w-full gap-5 text-gray-600 w-2/3">
          <% @ranks.each.with_index(1) do |post, i| %>
          <div>
            <span class="block text-center mb-2"><i class="fas fa-crown"></i>第<%= i %>位</span>
            <div class='overflow-hidden rounded-lg shadow-lg '>
              <%= link_to post do %>
                <%= image_tag post.image.url(:small), class: 'block h-auto w-full' %>
                <div class="flex justify-between items-center p-2 leading-tight">
                  <p class='inline-block text-sm'><%= post.title.truncate(10) %></p>
                  <p class='text-xs'><%= time_ago_in_words(post.created_at) %>前</p>
                </div>
                <div class="flex items-center p-2 leading-tight text-xs">
                  <% if post.user.avatar? %>
                    <%= image_tag post.user.avatar.url, id: 'preview', class: 'small-icon' %>
                  <% else %>
                    <%= image_tag '/assets/default.png', id: 'preview', alt: 'ユーザーアイコン', class: 'small-icon' %>
                  <% end %>
                  <div class="ml-1">
                    <p><%= post.user.name %></p>
                    <p>職種:<%= post.user.job %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </section>
    </div>

    <div>
    <%= link_to new_post_path do %>
      <i class="far fa-edit text-3xl fixed right-0 bottom-20 mr-20 text-white rounded-full transition duration-200 ease-in-out bg-blue-800 hover:bg-gray-500 p-6"></i>
    <% end %>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-6 text-gray-600 bg-white p-6 rounded shadow-md">
      <% @posts.each do |post| %>
        <div class='overflow-hidden rounded-lg shadow-lg bg-white mx-auto w-2/3 sm:w-full'>
          <%= link_to post do %>
            <%= image_tag post.image.url(:small), class: 'block h-auto w-full' %>
            <div class="flex justify-between items-center p-2 leading-tight">
              <p class='inline-block text-base'><%= post.title.truncate(10) %></p>
              <p class='text-xs'><%= time_ago_in_words(post.created_at) %>前</p>
            </div>
            <div class="flex justify-between items-center p-2 leading-tight text-xs">
              <% if post.user.avatar? %>
                <%= image_tag post.user.avatar.url, id: 'preview', class: 'small-icon' %>
              <% else %>
                <%= image_tag '/assets/default.png', id: 'preview', alt: 'ユーザーアイコン', class: 'small-icon' %>
              <% end %>
              <p><%= post.user.name %></p>
              <p>職種:<%= post.user.job %></p>
              <div id="likes_buttons_<%= post.id %>">
                <%= render partial: 'likes/like', locals: { post: post } %>
              </div>
            </div>
              <div class="p-2">
                <% post.tags.each do |tag|%>
                  <%= link_to "##{tag.tag_name}", tag_posts_path(tag), class: "small-tag" %>
                <% end %>
              </div>
          <% end %>
        </div>
      <% end %>
  </div>
  <div class="mt-10 mx-auto text-center text-xl">
    <%= paginate @posts %>
  </div>
</div>
