<%= render 'shared/header' %>

  <section class="font-sans flex flex-col lg:flex-row mt-20">
    <div class="w-full lg:w-1/2"><img src="assets/Manager _Isometric.png" alt="椅子の写真" width="400" heigth="400" class="mx-auto"></div>
    <div class="w-full lg:w-1/2 flex flex-col items-center justify-center text-center p-8 text-blue-900 bg-white rounded-full">
      <p class="my-4 text-3xl font-bold tracking-wider">もっと快適に働きながら暮らそう</p>
      <div class="font-bold mt-6 w-1/2 tracking-wider">
        <p>リモートワークを</p>
        <p>もっと快適に</p>
        <p>もっと効率よくする相棒を見つけよう！</p>

      </div>
        <div class='flex items-center rounded-full shadow-xl py-2 px-4 text-gray-500 leading-tight focus:outline-none bg-gray-100'>
          <%= form_tag(posts_path, :method => 'get') do %>
          <%= text_field_tag :search, "", class: 'text-left w-64 py-2 focus:outline-none bg-gray-100' %>
          <%= submit_tag 'fas fa-search', :name => nil, class: "bg-blue-900 text-sm text-white rounded-full p-2 hover:bg-blue-900 focus:outline-none w-8 h-8" %>
          <% end %>
        </div>

    </div>
  </section>

  <h1 class='text-center text-2xl text-blue-900 mt-7 tracking-widest'>show posts</h1>
  <%= link_to new_post_path do %>
    <i class="far fa-edit text-3xl fixed right-14 bottom-14 text-white rounded-full transition duration-200 ease-in-out bg-blue-900 hover:bg-gray-500 py-6 px-6 "></i>
  <% end %>

  <% @tag_list.each do |list| %>
    <%= link_to "##{list.tag_name}", tag_posts_path(tag_id: list.id), class: 'tag_list' %>
    <%= "(#{list.posts.count})" %>
  <% end %>

    <div class="grid grid-cols-4 gap-x-5 gap-y-5 justify-items-center flex-grow mx-20 my-3 box-border text-blue-900">
      <% @posts.each do |post| %>
        <div class='my-5'>
          <div class='bg-white py-4 px-6 rounded shadow-md'>
            <%= link_to post do %>
              <span class='flex flex-row-reverse text-sm'><%= time_ago_in_words(post.created_at) %>前</span>
              <%= image_tag post.image.url(:small), class: 'rounded' %>
              <span class='inline-block text-lg mt-2'><%= post.content %></span>
              <% if @user.avatar? %>
                <div><%= image_tag @user.avatar.url, id: 'preview', class: 'h-32 w-32 shadow-xl transition duration-200 ease-in-out rounded-full cursor-pointer hover:opacity-70' %></div>
              <% else %>
                <div><%= image_tag '/assets/default.png', id: 'preview', alt: 'ユーザーアイコン', class: 'h-32 w-32 shadow-xl transition duration-200 ease-in-out rounded-full cursor-pointer hover:opacity-70' %></div>
              <% end %>
              <% post.tags.each do |tag|%>
                <%= link_to "##{tag.tag_name}", posts_path(tag), class: 'smaller tag_list' %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
