<%= render 'shared/header' %>

<h1>Posts#new</h1>

<%= form_with(model: @post, local: true) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :本文 %>
  <%= f.text_field :content, placeholder: "Compose new micropost..."%>

  <%= f.label :画像 %>
  <div class='bg-white h-50'>
  <label><%= f.file_field :image, class: 'hidden' %>post your finiture!</label>
  </div>

  <%= f.submit "投稿", class: "btn btn-primary" %>

<% end %>
