<%= render 'shared/header' %>

<h1 class='mt-20'>Posts#new</h1>

<%= form_with(model: @post, local: true) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :おすすめポイント %>
  <%= f.text_field :title, placeholder: "例）1日座っていても疲れにくい高品質のイス" %>


<div class="mb-6">
  <%= f.label :一番の役立ちポイント, class: 'block mb-2 text-sm text-gray-600'%>
  <%= f.select :issue, [['コミュニケーション','コミュニケーション'],['作業効率','作業効率'],['モチベーション','モチベーション'],['働き方','働き方'],['健康面','健康面'],['私生活','私生活'],['その他','その他']], {}, class: 'w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-200' %>
</div>

  <%= f.label :詳細 %>
  <%= f.text_area :content, placeholder: "例）職場にリモートワークが導入され週3で在宅勤務することになったので購入してみました！首の支えや座面も柔らかくずっと座っていても疲れないです。仕事に集中させてくれるアイテムです！", size: "60x8", class: 'resize-none' %>

  <%= f.label :画像, class: 'hidden' %>
  <label>
    <%= f.file_field :image, class: 'hidden', onchange: 'previewImage(preview)', alt: '投稿画像' %>
    <a><%= image_tag @post.image.url, id: 'preview', class: 'inline-block w-1/4 h-64 object-contain rounded transition duration-200 ease-in-out cursor-pointer hover:opacity-70' %></a>
  </label>

  <div class="small-unit">
    <span>購入時価格¥</span>
    <%= f.number_field :price, class: "form-control", max: 200000, min: 1000, placeholder: 0 %>
  </div>

  <div class='flex' id="review">
    <%= f.label :review,'リモートワークへのおすすめ度', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :review, id: :review_star %>
  </div>
    <script>
      $('#review').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        scoreName: 'post[review]',
        half: false,
      });
    </script>
  <p>タグ（任意）※半角スペース区切りでタグ付けできます</p>
  <%= f.text_field :tag_name %>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>

<script>
  function previewImage(id) {
    const target = this.event.target;
    const file = target.files[0];
    const reader = new FileReader();
    reader.onloadend = function() {
      preview.src = reader.result;
    };
    if (file) {
      reader.readAsDataURL(file);
    } else {
      reader.readAsDataURL(file);
    }
  }
</script>
