<%= render "shared/header" %>
<div class="container mx-auto md:w-2/3 hover:shadow-2xl transition duration-500 ease-in-out">
  <div class="flex flex-col p-8 w-full mx-auto bg-white rounded text-xs sm:text-base text-gray-600">
    <%= form_with(model: @post, local: true) do |f| %>
    <%= render "shared/error_messages", object: f.object %>
      <div>
        <%= f.label :おすすめポイント, class: "form-title" %>
        <%= f.text_field :title, placeholder: "例）リモートワークが快適になった", class: "form block focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="text-center">
        <%= f.label :画像, class: "hidden" %>
        <label>
        <%= f.file_field :image, class: "hidden", onchange: "previewImage(preview)", alt: "投稿画像" %>
        <%= image_tag @post.image.url, id: "preview", class: "inline-block w-full h-full sm:w-4/6 sm:h-4/6 mt-2 mb-5 object-contain rounded transition duration-200 ease-inut cursor-pointer hover:opacity-70" %>
        </label>
      </div>
      <div class="mb-6">
        <%= f.label :一番の役立ちポイント, class: "form-title" %>
        <%= f.select :issue, [['コミュニケーション','コミュニケーション'],['作業効率','作業効率'],['モチベーション','モチベーション'],['働き方','働き方'],['健康面','健康面'],['私生活','私生活'],['その他','その他']], {}, class: "form focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-6">
        <%= f.label :詳細, class: "form-title" %>
        <%= f.text_area :content, placeholder: "例）長時間座っていても腰が楽で在宅の必須アイテム！", size: "60x8", class: "form resize-none block focus:outline-none focus:shadow-outline", onkeyup: "count_down(this);" %>
        <span id="count" class="float-right">200</span>
      </div>
      <div class="mb-6">
        <p class= "form-title">購入時価格</p>
        <%= f.number_field :price, class: "form text-right focus:outline-none focus:shadow-outline", max: 200000, min: 1000, placeholder: "¥0" %>
      </div>
      <div>
        <p class= "form-title">#タグ（任意）※半角スペース区切りでタグ付けできます</p>
        <%= f.text_field :tag_name, placeholder: "例）リモートワーク 椅子", class: "form focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="text-center">
        <%= f.submit "投稿する", class: "up-btn transition duration-200 ease-in-out focus:outline-none hover:bg-gray-500 cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  function previewImage(id) {
    const target = this.event.target;
    const file = target.files[0];
    const reader = new FileReader();
    reader.onloadend = function() {
      preview.src = reader.result;
    };
    if (file) {
      reader.readAsDataURL(file);
    } else {
      reader.readAsDataURL(file);
    };
  }

  function count_down(obj) {
    var element = document.getElementById('count');
    element.innerHTML = 200 - obj.value.length;
    if (200 - obj.value.length < 0) {
        element.style.color = 'red';
    } else {
        element.style.color = 'grey';
    }
  }
</script>
