<%= render 'shared/header' %>

<div class='container mt-20 mx-auto'>
  <div class='flex flex-col p-8 mx-auto w-4/6 bg-white rounded text-xs sm:text-base text-gray-600'>
    <%= form_with(model: @post, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div>
        <%= f.label :おすすめポイント %>
        <%= f.text_field :title, placeholder: "例）1日座っていても疲れにくい", class: "block w-full p-2 mt-2 mb-5 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-200"%>
      </div>

      <div class='text-center'>
        <%= f.label :画像, class: 'hidden' %>
        <label>
        <%= f.file_field :image, class: 'hidden', onchange: 'previewImage(preview)', alt: '投稿画像' %>
        <%= image_tag @post.image.url, id: 'preview', class: 'inline-block w-full h-full sm:w-4/6 sm:h-4/6 mt-2 mb-5 object-contain rounded transition duration-200 ease-inut cursor-pointer hover:opacity-70' %>
        </label>
      </div>

      <div>
        <%= f.label :一番の役立ちポイント %>
        <%= f.select :issue, [['コミュニケーション','コミュニケーション'],['作業効率','作業効率'],['モチベーション','モチベーション'],['働き方','働き方'],['健康面','健康面'],['私生活','私生活'],['その他','その他']], {}, class: 'w-full p-2 mt-2 mb-5 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-200' %>
      </div>

      <div>
        <%= f.label :詳細 %>
        <%= f.text_area :content, placeholder: "例）職場にリモートワークが導入され週3で在宅勤務することになったので購入してみました！首の支えや座面も柔らかくずっと座っていても疲れないです。仕事に集中させてくれるアイテムです！", size: "60x8", class: 'resize-none block w-full p-2 mt-2 mb-5 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-200' %>
      </div>

      <div>
        <p>購入時価格（任意）</p>
        <%= f.number_field :price, class: "w-full text-right p-2 mt-2 mb-5 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-200", max: 200000, min: 1000, placeholder: '¥0' %>
      </div>

      <div>
        <p>#タグ（任意）</p>
        <p>※半角スペース区切りでタグ付けできます</p>
        <%= f.text_field :tag_name, placeholder: "例）リモートワーク 椅子", class: 'w-full p-2 mt-2 mb-5 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-200' %>
      </div>

      <div class="text-center">
        <%= f.submit "投稿する", class: "p-2 sm:p-3 text-white bg-blue-900 rounded-full ransition duration-200 ease-in-out bg-blue-900 hover:bg-gray-500 cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>


<script>
  function previewImage(id) {
    const target = this.event.target;
    const file = target.files[0];
    const reader = new FileReader();
    reader.onloadend = function() {
      preview.src = reader.result;
    };
    if (file) {
      reader.readAsDataURL(file);
    } else {
      reader.readAsDataURL(file);
    }
  }
</script>
