<%= render "shared/header" %>
<div class="container mx-auto md:w-2/3">
  <div class="base flex flex-col text-xs sm:text-base hover:shadow-2xl transition duration-500 ease-in-out">
    <div class="text-right mb-8 text-xs"><%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
    <h1 class='text-sm sm:text-2xl mb-2'><%= @post.title %></h1>
    <div class="w-full h-ful border-b border-gray-200">
      <%= image_tag @post.image.url, class: 'w-full inline-block mt-2 mb-5 rounded'%>
      <div class="text-right text-sm my-4">
        <p class="mb-2">改善ポイント：<%= @post.issue %></p>
        <p class="mb-2">購入時価格：¥<%= @post.price %></p>
        <%= link_to search_path do %>
        <p class= "small-btn text-xs transition duration-200 ease-in-out hover:bg-gray-500">探してみる</p>
        <% end %>
      </div>
      <p class="text-center text-base mb-8"><%= @post.content %></p>
      <div class="flex justify-between">
        <div id="likes_buttons_<%= @post.id %>">
          <%= render 'likes/like', post: @post %>
        </div>
        <div class="mb-3">
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Remoshareでリモートワークをもっと快適に！" data-url="https://remoshare.com/" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <p></p>
      <% @post_tags.each do |tag| %>
        <%= link_to "##{tag.tag_name}", tag_posts_path(tag_id: tag.id), class: "medium-tag transition duration-200 ease-in-out hover:bg-blue-800 focus:outline-none" %>
      <% end %>
    </div>
    <div class="flex py-5 mb-5 text-center border-b border-gray-200">
      <div class="mx-auto">
        <p class="mb-3">* 投稿者 *</p>
        <%= link_to @post.user do %>
          <% if @post.user.avatar? %>
            <%= image_tag @post.user.avatar.url(:small), id: 'preview', class: 'small-icon'%>
          <% else %>
            <%= image_tag asset_path('default.png'), class: 'small-icon' %>
          <% end %>
          <%= @post.user.name %>
        <% end %>
        <p class="py-3">職種:<%= @post.user.job %></p>
      </div>
    </div>
    <div id="comment-text">
      <%= render "comments/comment", comments: @comments %>
    </div>
    <div class="text-center">
      <%= render "comments/form" %>
    </div>
  </div>
</div>
