<%= render 'shared/header' %>

<div class="mt-20">
  <div>
    <%= @post.user.name %> 投稿日時 <%= @post.created_at %>
    <%= @user.job %><%= @post.issue %>
  </div>
  <div>
    <p><%= @post.content %></p>
    <%= image_tag @post.image.url(:small) %>
  </div>

  <div id="likes_buttons_<%= @post.id %>">
    <%= render partial: 'likes/like', locals: { post: @post } %>
  </div>

  <% @post_tags.each do |tag| %>
    <%= link_to "##{tag.tag_name}", tag_posts_path(tag_id: tag.id) %>
  <% end %>

  <div class='flex items-end space-x-1'>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"  data-text="Remoshareをよろしくおねがいします！"  data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://social-plugins.line.me/ja/how_to_install#lineitbutton" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
  <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  </div>

  <div id='comment_form'>
    <%= render 'comments/form'%>
  </div>

  <div id='comment_area'>
    <%= render 'comments/comment'%>
  </div>

</div>
