<%= render 'shared/header' %>
<div>
  <div>
    <%= @post.user.name %> posted at <%= @post.created_at %>
  </div>
  <div>
    <p><%= @post.content %></p>
    <%= image_tag @post.image.url(:small) %>
  </div>
</div>

<%= render 'likes/like', post: @post %>

 <p>快適ポイント:<%= @post.review %>点</p>
    <div class='flex text-sm' id="star-rate<%= @post.id %>"></div>
    <script>
      $('#star-rate<%= @post.id %>').raty({
        size      : 34,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        half      : false,
        readOnly  : true,
        score: <%= @post.review %>,
      });
    </script>

    <% @post_tags.each do |tag| %>
      <%= link_to "##{tag.tag_name}", tag_posts_path(tag_id: tag.id) %>
    <% end %>

  <div class='flex items-end space-x-1'>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"  data-text="Remoshareをよろしくおねがいします！"  data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="pAaJ5Vl6"></script>
    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>

    <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://social-plugins.line.me/ja/how_to_install#lineitbutton" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  </div>

<% if current_user %>
  <%= form_with(model: [@post, @comment], local: true) do |f| %>
    <%= f.text_area :comment, size: "60x5", placeholder: "コメントする" %>
    <%= f.submit '送信', class: "btn-sm btn-primary" %>
  <% end %>
<% else %>
  <p>コメントの投稿には新規登録/ログインが必要です</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>コメント投稿者</th>
      <th>コメント内容</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name %></td>
        <td><%= comment.comment %></td>
      <% if logged_in? && comment.user == current_user %>
        <td><%= button_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete %></td>
      <% end %>
      </tr>
    <% end %>

  </tbody>
</table>
