<%= render 'shared/header' %>

<div class='container mx-auto'>
  <div class='flex flex-col p-8 mx-auto w-5/6 bg-white rounded text-xs sm:text-base text-gray-600 shadow-2xl'>
    <div class="text-right mb-8 text-xs"><%= @post.created_at %></div>
    <h1 class='text-sm sm:text-2xl mb-2'><%= @post.title %></h1>
    <div class="w-full h-ful border-b border-gray-200">
      <%= image_tag @post.image.url, class: 'w-full inline-block mt-2 mb-5 rounded'%>
      <div class="text-right text-sm my-4">
        <p>改善ポイント：<%= @post.issue %></p>
        <p>購入時価格：¥<%= @post.price %></p>
        <%= link_to search_path do %>
        <p class= "inline-block bg-blue-900 text-white p-1 text-xs rounded-xl">探してみる</p>
        <% end %>
      </div>
      <p class="text-center text-xl mb-8"><%= @post.content %></p>
      <div class="flex justify-between">
        <div id="likes_buttons_<%= @post.id %>">
          <%= render 'likes/like', post: @post %>
        </div>
        <div class="flex mb-3">
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"  data-text="Remoshareをよろしくおねがいします！"  data-show-count="false">Tweet</a>
          <span class="ml-2"><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://social-plugins.line.me/ja/how_to_install#lineitbutton" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
          <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script></span>
        </div>
      </div>
      <p></p>
      <% @post_tags.each do |tag| %>
        <%= link_to "##{tag.tag_name}", tag_posts_path(tag_id: tag.id), class: "medium-tag" %>
      <% end %>
    </div>
    <div class="flex py-5 mb-5 text-center border-b border-gray-200">
      <div class="mx-auto">
        <p class="mb-3">* 投稿者 *</p>
        <%= link_to @post.user do %>
          <% if @post.user.avatar? %>
            <%= image_tag @post.user.avatar.url(:small), id: 'preview', class: 'small-icon'%>
          <% else %>
            <%= image_tag asset_path('default.png'), class: 'small-icon' %>
          <% end %>
          <%= @post.user.name %>
        <% end %>
        <p class="py-3">職種:<%= @user.job %></p>
      </div>
    </div>
    <div id="comment-text">
      <%= render 'comments/comment', comments: @comments %>
    </div>
    <div>
      <% if current_user %>
        <%= form_with(model: [@post, @comment], local: false) do |f| %>
          <%= f.text_area :comment, size: "60x5", placeholder: "200文字以内でコメントできます！", class: "resize-none block w-full p-2 mt-2 mb-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-200'" %>
          <%= f.submit 'コメントする', class: "up-btn transition duration-200 ease-in-out bg-blue-900 hover:bg-gray-500 cursor-pointer" %>
        <% end %>
      <% else %>
        <p>コメントの投稿には新規登録/ログインが必要です</p>
      <% end %>
    </div>
  </div>
</div>
